<!DOCTYPE html>
    {% load static %}
  <html>
    <head>
      <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>
        <style>
            .container {
                margin-top: 5%;
            }
            body {
                background-color: #F3F3F3;
            }
            @media screen and (max-width: 480px) {
                #logo {
                    margin-top:3%;
                }
            }
            @media screen and (min-width: 480px) {
                #logo {
                    margin-top:1%;
                }
            }
        </style>
    </head>

    <body>
        <div class="navbar-fixed">
            <nav>
                    <div class="nav-wrapper teal">
                        <a href="/"><img src="{% static '/images/logo.png' %}" id="logo" alt="Logo" height="60%;"></a>
                        <ul id="nav-mobile" class="right">
                          <li class="hide-on-small-only"><a href="#">{{user}}</a></li>
                          <li><a href="/logout"><i class="material-icons">settings_power</i></a></li>
                        </ul>
                  </div>
            </nav>
        </div>
        <div class="container">
                {% if participant.is_approved %}
                        {% if participant.is_paid %}
                            <div class="card-panel teal lighten-2 white-text">Your payment has been acknowledged.</div>
                        {% else %}
                            <div class="card-panel red accent-4 white-text"><i class="small material-icons black-text">warning</i>Your payment is still pending. Click <a target="_blank" href="https://imjo.in/NtVrf" class="btn-flat teal white-text">here</a> to pay. Please ignore if paid, we will update your payment status shortly.</div>
                        {% endif %}
                {% endif %}
            </div>
            {% block content %}{% endblock %}
    </body>
  </html>
