{% extends "portal/base.html" %}
{% load static %}
{% block title %}
    {{ user }}'s Gang | Dashboard
{% endblock %}
{% block content %}
    <ul id="slide-out" class="side-nav">
        <a href="/accounts/profile"><img src="{% static '/images/logo1.jpeg' %}" height="150%" width="100%" alt=""></a>
        <br><br>
        <li><a href="#!">Team Details</a></li>
        <li><a href="#!">Profile</a></li>
        <li><a href="#!">Notifications</a></li>
    </ul>
    You are loggen in as {{ user }}
    {% for member in members %}
        <p>{{ member }}</p>
    {% endfor %}
    <script>
        $(".button-collapse").sideNav();
    </script>
{% endblock %}
