{% extends "portal/base.html" %}
{% load static %}
{% block title %}
    {{ user }}'s Gang | Dashboard
{% endblock %}
{% block content %}
    <ul id="slide-out" class="side-nav">
        <a href="/accounts/profile"><img src="{% static '/images/logo1.jpeg' %}" height="150%" width="100%" alt=""></a>
        <br><br>
        <li><a href="#!">Team Details</a></li>
        <li><a href="#!">Profile</a></li>
        <li><a href="#!">Notifications</a></li>
    </ul>
    <div class="container">
        {% if not member.is_approved %}
            Your request is under review.
        {% endif %}
        <ul>
            {% for member in members %}
                <li>{{ member }}  {{member.is_approved}}</li>
            {% endfor %}
        </ul>
        <div>Thanks for Registering with us. Team, payment and event details will be updated shortly.</div>
    </div>
    </div>
    <script>
        $(".button-collapse").sideNav();
    </script>
{% endblock %}
