{% extends "templates/portal/base.html" %}
{% load static %}
{% block title %}
    Team details | Administrator
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for team in teams %}
            <div class="card-panel col m8 s12 offset-m2" style="padding:10px;">
                <h5>{{team.team_name}}</h5>
                <table class="centered striped">
                    <thead>
                        <th>User</th>
                        <th>Email</th>
                        <th>Payment status</th>
                        <th>Approval status</th>
                    </thead>
                    <tbody>
                        {% for participant in participants %}
                            {% if participant.team == team %}
                                <tr>
                                    <td>{{ participant.user }}</td>
                                    <td>{{ participant.user.email }}</td>
                                    <td>{{ participant.is_paid }}</td>
                                    <td>{{ participant.is_approved }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
